.library{
    position: fixed;
    left: -20rem;
    top: 0;
    width: 20rem;
    height: 100%;
    transition: 0.3s all ease;
    background: linear-gradient(to bottom ,#555, #333 40%,#333, #333 40%, #333, #191414 100%);
    overflow-y: auto;
    z-index: 10;
    @media screen and (max-width: 786px){
        width: 100%;
        left: -100%;
    }
    &.active{
        left:0;
    }
    h1{
        text-align: left;
        color: #FFF;
        font-weight: 600;
        margin: 1rem 1rem;
        opacity: 0.9;
    }
}