.player{ 
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .time-control{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .track{
            width: 100%;
            position: relative;
            border: 1px solid #ddd;
            border-radius: 2rem;
            overflow: hidden;
            @media screen and (max-width: 786px){
                margin: 0 -1rem;
            }
            input{
                width: 100%;
                height: 100%;
                -webkit-appearance: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                &[type="range"]::-webkit-slider-thumb{
                    appearance: none;
                    height: 16px;
                    width: 16px;
                    background-color: transparent;
                    border-radius: 100%;
                }
            }
            .animate-track{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(to right, #191414, #1DB954);
                transform: translateX(-100%);
            }
        }
        p{
            height: 100%;
            margin: 0 2rem;
            font-size: 1.2rem;
            color: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 786px){
                margin: 0 1.5rem;
            }
        }
    }
    .play-control{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            cursor: pointer;
            font-size: 3rem;
            color: #ccc;
            transition: 0.3s all ease 0.1s;
            &:hover{
                color:#eee;
                transition: 0.3s all ease 0.1s;
            }
        }
    }
}