.player{ 
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .time-control{
        display: flex;
        justify-content: space-between;
        width: 70%;
        input{
            padding: 1rem 0;
            flex-grow: 1;
        }
        p{
            padding: 1rem;
            color: #ddd;
        }
    }
    .play-control{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            cursor: pointer;
            font-size: 3rem;
            color: #ccc;
            transition: 0.3s all ease 0.1s;
            &:hover{
                color:#eee;
                transition: 0.3s all ease 0.1s;
            }
        }
    }
}