*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #333;
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}